.sectionContainer {
  margin: 0px 24px;
}

.details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  margin: 4px 16px;
}

.details section {
  border: 1px solid #aaa;
  border-radius: 4px;
  margin: 4px;
}

.details summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}
