.vid {
  background-color: black;
  object-fit: scale-down;
  object-position: center;
  width: 100%;
}

.videoControlsContrainer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.videoWrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
