.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid black 1px;
  padding: 0px 8px;
}

.iconAndNav {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
