.bkg {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-height: 400px;
  width: 60%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.vid {
  background-color: black;
  object-fit: scale-down;
  object-position: center;
  width: 100%;
}

.videoControlsContrainer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
